<footer>
    <span>Made by Wade</span>
    <span>
        <button class="greyButton"><i class="fa-brands fa-square-facebook fa-l"></i></button>
        <button class="greyButton"><i class="fa-brands fa-x-twitter fa-l"></i></button>
        <button class="greyButton"><i class="fa-brands fa-instagram fa-l"></i></button>
        <button class="greyButton"><i class="fa-brands fa-youtube fa-l"></i></button>
        <button class="greyButton"><i class="fa-brands fa-linkedin fa-l"></i></button>
    </span>
    <p>© autosales Pty Ltd 2025</p>
</footer>