<form action="/new/manufacturer" method="POST">
    <ul>
        <li>
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" required>
        </li>
        <li>
            <button class="buttonLink" type="submit">Submit</button>
        </li>
    </ul>
</form>