<form action="/update/manufacturer?name=<%= locals.manufacturer %>" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" value="<%= locals.manufacturer %>" required>
    <button type="submit">Submit</button>
</form>