<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <header class="flex-row-centred-50pxh">
        <button class="greyButton"><i class="fa-solid fa-bars fa-2xl"></i></button><h1>autosales</h1>
    </header>
    <section>
        <div class="banner-image"></div>
    </section>
    <main>
        <h2>Find your next car</h2>
        <nav>
            <a class="buttonLink" href="/category/all"><button>View All Models</button></a>
        </nav>
        <h3>Browse By Make</h3>
        <nav>
            <ul>
                <% manufacturers.forEach((make) => { %>
                    <li>
                        <a class="buttonLink" href="/category/<%= make.name.toLowerCase() %>"><button><%= make.name %></button></a>
                    </li>
                <% }); %>
            </ul>
            <div class="flex-row-centred-50pxh">
                <a class="buttonLink half-width" href="/new/manufacturer"><button>Add New Make</button></a>
                <a class="buttonLink half-width" href="/new/model"><button>Sell My Car</button></a>
            </div>
        </nav>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>